<nav
    class="fixed top-0 left-0 w-full h-16 bg-white-70 backdrop-blur-md border-b border-gray-200 gap-4 flex justify-end items-center px-4 shadow-md z-50">
    <a class="hover:underline" routerLinkActive="text-blue-500 underline" routerLink="/about">About</a>
    <a class="hover:underline" routerLinkActive="text-blue-500 underline" routerLink="/pokemons">Pokemons</a>
    <a class="hover:underline" routerLinkActive="text-blue-500 underline" routerLink="/pricing">Pricing</a>
    <a class="hover:underline" routerLinkActive="text-blue-500 underline" routerLink="/contact">Contact</a>
</nav>
